<a href="https://colab.research.google.com/github/ckshin29/ai/blob/main/20220126.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#####################################################
# 리스트 List 튜플 Tuple 딕셔너리 Dict 셋 Set
#####################################################

#여러개의 값을 한번에 저장하는 자료형이 필요하다.

# 리스트 List - 가장 많이 사용함
# 지금까지 사용한 숫자1, 문자1 등 개별적, 독립적인 자료가 아닌 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.

# 리스트는 []로 구성한다.

list = [1,2,3,4,5]
print(list)

#리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다.)

list = [1,2,3,'대한', '민국', True, False]
print(list)

score = [80,90,70,60]
print(score)
#리스트는 인덱싱과 슬라이싱이 가능하다.
print(score[0]) #파이썬은 0부터 시작한다.
print(score[0:2]) #슬라이싱은 0부터 2미만... 처럼 끝은 미만을 나타낸다.

# 리스트는 수정/삭제가 가능하다. (mutable but 튜플은 immutable)

score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4] #indexerror 아주 많이 접하게 될 에러 (에외)

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]

In [2]:
# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a = ', list_a)
print('list_b = ', list_b)

print(list_a + list_b)
print(list_a * 3)
print(len(list_a)) 

# len 리스트의 갯수

list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [3]:
# 리스트에 많이 사용되는 함수들...
# append () 리스트에 요소를 추가할때 사용 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]
[100, 90, 70, 100, 60, 70]

In [4]:
# insert() 리스트에 요소를 추가 할때 사용, 특정위치를 지정하여 추가
list = []
list.insert(0,10)
print(list)

list.insert(1,50)
print(list)

[10]
[10, 50]

In [5]:
list_a = [1,2,3]
list_a.extend([4,5,6]) #한번에 여러개 집어 넣을때 사용
list_a

[1, 2, 3, 4, 5, 6]

In [6]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a) #비파괴적 처리

# 리스트 연결 만으로는 list_a 에 어떠한 영향도 주지 않는다.(비파괴적 처리)
# 하지만 extend()를 사용하면 list_a 에 직접적으로 영향을 주게 된다. (파괴적 처리)

# 원래 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [7]:
# del() 리스트에서 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3] # 1부터 3미만 즉 2까지
print(list_a)

del list_a[:] # 생략하면 처음 : 생략하면 끝
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [8]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

IndexError: ignored

In [ ]:
list_a.pop(1)
list_a

In [ ]:
# remove 값으로 삭제

list_c = [1,2,1,2]
list_c.remove(2) #remove 는 요소의 값을 찾아 삭제한다.
                 # 동일한 값이 여러개 있을때는 하나씩 순차적으로 삭제한다.
                 # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
print(list_c)
list_c.remove(2)
print(list_c)

In [ ]:
list = [1,2,3,4,5]
print(list[0]) # indexing 비파괴적으로 동작한다.
print(list)

print(list.pop()) #pop은 파괴적으로 동작한다.
orint(list)

In [10]:
# in / not in 리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list)
list = [222,434,65,123,547,876]
print(221 in list)
print(221 not in list)

True
False
True